<li>
      <!-- p tag is for showing the comments -->
                                <!-- here content is took from the schema page of comments,and comment is took from the above for loop comment -->
    <P>
        <% if (locals.user && locals.user.id == comment.user.id){%>
            <small>
            <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>

        <% } %>
    <%= comment.content %>
    <br>
    <!-- small is for showing the user  actually the small tags in html refers to side comments and small print-->
    <small>
        <%= comment.user.name %>
    </small>
    </P> 

</li>